# Entorno virtual

venv/
.venv/

# Caché de Python

**pycache**/
*.pyc
*.pyo

# Variables de entorno

.env
.env.*

# Bases de datos locales

*.db
*.sqlite
*.sqlite3

# Dependencias de Node

node_modules/

# Archivos generados por la aplicación

debug_rostros/
rostros_detectados/
errores_enojo/

# Dataset y archivos comprimidos

dataset/
dataset.zip

# Modelos grandes que NO se suben al repositorio

*.keras
*.h5

# Archivos de entrenamiento temporales

*.ckpt
*.joblib

# Archivos temporales

*.tmp
*.log

# Sistema operativo

.DS_Store
Thumbs.db
